.form-container {
    display: flex;
    flex-direction: column;

    > form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-body {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }

        button {
            width: 100px;
        }
    }
}