<div class="start-multi-scale-form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="startMultiScaleFormGroup">
        <div class="form-body">
            <div class="form-two-column">
                <div class="form-column-half">
                    <div class="form-container" formArrayName="epochs">
                        <div class="form-input-header">
                            <kendo-label text="Epochs" [ngClass]="{'label-invalid': !epochs.valid}"></kendo-label>
                            <span title="Epochs must be within the range of 0 and 2000" class="validation-tooltip" *ngIf="!epochs.valid">?</span>
                        </div>
                        <div class="numeric-group">
                            <div class="form-input" *ngFor="let epoch of epochs.controls; let i = index">
                                <input kendoTextBox type="number" step="1" [formControlName]="i" />
                            </div>
                        </div>
                    </div>
                    <div class="form-container" formArrayName="contentWeight">
                        <div class="form-input-header">
                            <kendo-label text="Content weight" [ngClass]="{'label-invalid': !contentWeight.valid}"></kendo-label>
                            <span title="Content weights must be within the range of 0 and 10000" class="validation-tooltip" *ngIf="!contentWeight.valid">?</span>
                        </div>
                        <div class="numeric-group">
                            <div class="form-input" *ngFor="let weight of contentWeight.controls; let i = index">
                                <input kendoTextBox type="number" step="1" [formControlName]="i" />
                            </div>
                        </div>
                    </div>
                    <div class="form-container" formArrayName="useReducedLayerSet">
                        <div class="form-input-header">
                            <kendo-label text="Use reduced layer set" [ngClass]="{'label-invalid': !useReducedLayerSet.valid}"></kendo-label>
                            <span title="Use reduced layer set values must be within the range of 0 and 7" class="validation-tooltip" *ngIf="!useReducedLayerSet.valid">?</span>
                        </div>
                        <div class="numeric-group">
                            <div class="form-input"
                                *ngFor="let useReducedLayerSet of useReducedLayerSet.controls; let i = index">
                                <input kendoTextBox type="number" step="1" [formControlName]="i" />
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-input-header">
                            <kendo-label text="Image ratio" [ngClass]="{'label-invalid': !startMultiScaleFormGroup.get('imgRatio').valid}"></kendo-label>
                            <span title="Image ratio must be within the range of 0 and 7" class="validation-tooltip" *ngIf="!startMultiScaleFormGroup.get('imgRatio').valid">?</span>
                        </div>
                        <div class="form-input numeric-group">
                            <input kendoTextBox class="img-ratio" type="number" step="0.1" formControlName="imgRatio" />
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-input-header">
                            <kendo-label text="Key" [ngClass]="{'label-invalid': !startMultiScaleFormGroup.get('key').valid}"></kendo-label>
                            <span title="Key must be populated" class="validation-tooltip" *ngIf="!startMultiScaleFormGroup.get('key').valid">?</span>
                        </div>
                        <div class="form-input">
                            <input kendoTextBox class="key" formControlName="key" />
                        </div>
                    </div>
                </div>
                <div class="form-column-half">
                    <div class="form-container-group" formGroupName="sliderGroup">
                        <div class="form-container">
                            <div class="form-input-header">
                                <kendo-label text="Run until"></kendo-label>
                            </div>
                            <div class="form-input">
                                <kendo-slider #runUntilSlider formControlName="runUntil" [min]="0"
                                    [max]="max_dim.length - 1">
                                </kendo-slider>
                                <span class="slider-label">{{max_dim[runUntilSlider.value]}}</span>
                            </div>
                        </div>
                        <div class="form-container">
                            <div class="form-input-header">
                                <kendo-label text="Start from dim" [ngClass]="{'label-invalid': startMultiScaleFormGroup.get('sliderGroup').errors?.startFromInvalid}"></kendo-label>
                                <span title="Start from dim must be less than or equal to run until value" class="validation-tooltip" *ngIf="startMultiScaleFormGroup.get('sliderGroup').errors?.startFromInvalid">?</span>
                            </div>
                            <div class="form-input">
                                <kendo-slider #startFromSlider formControlName="startFromDim" [min]="0"
                                    [max]="max_dim.length - 1"></kendo-slider>
                                <span class="slider-label">{{max_dim[startFromSlider.value]}}</span>
                            </div>
                        </div>
                        <div class="form-container">
                            <div class="form-input-header">
                                <kendo-label text="Previous dim" [ngClass]="{'label-invalid': startMultiScaleFormGroup.get('sliderGroup').errors?.previousInvalid}"></kendo-label>
                                <span title="Previous dim must be less than or equal to run until value" class="validation-tooltip" *ngIf="startMultiScaleFormGroup.get('sliderGroup').errors?.previousInvalid">?</span>
                            </div>
                            <div class="form-input">
                                <kendo-slider #previousSlider formControlName="previousDim" name="run-until" [min]="0"
                                    [max]="max_dim[max_dim.length - 1]" [tickPlacement]="'none'"></kendo-slider>
                                <span class="slider-label">{{previousSlider.value}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-input-header">
                            <kendo-label text="Content" [ngClass]="{'label-invalid': !startMultiScaleFormGroup.get('content').valid}"></kendo-label>
                            <span title="One file must be selected" class="validation-tooltip" *ngIf="!startMultiScaleFormGroup.get('content').valid">?</span>
                        </div>
                        <div class="form-input">
                            <div class="content-wrapper">
                                <kendo-fileselect [multiple]="false" (select)="onContentSelect($event)"></kendo-fileselect>
                                <div class="content-entry" *ngIf="startMultiScaleFormGroup.get('content').value">
                                    <input kendoTextBox class="content-input" formControlName="content">
                                    <div class="remove-file-button">
                                        <span class="k-icon k-i-x" (click)="removeContent()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-container">
                        <kendo-label text="GPU"></kendo-label>
                        <div class="form-input">
                            <kendo-switch formControlName="gpu"></kendo-switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-single-column">
                <div class="form-container">
                    <div class="form-input-header">
                        <kendo-label text="Styles" [ngClass]="{'label-invalid': !styles.valid}"></kendo-label>
                        <span title="At least one valid style must be added" class="validation-tooltip" *ngIf="!styles.valid">?</span>
                    </div>
                    <div class="form-input">
                        <kendo-fileselect class="styles" (select)="onStyleSelect($event)"></kendo-fileselect>
                    </div>
                    <table class="style-table" *ngIf="styles.controls.length > 0">
                        <thead>
                            <tr class="style-header-row">
                                <th class="style-name-col" title="Name">
                                    <div class="form-input-header">
                                        <kendo-label text="Name"></kendo-label>
                                    </div>
                                </th>
                                <th class="style-weight-col" title="Weight">
                                    <div class="form-input-header">
                                        <kendo-label text="Weight" [ngClass]="{'label-invalid': !styleRowsValid('weight')}"></kendo-label>
                                        <span title="Weight values are required and must be within the range of 0 and 10000" class="validation-tooltip" *ngIf="!styleRowsValid('weight')">?</span>
                                    </div>
                                </th>
                                <th class="style-lr-col" title="Learning Rate">
                                    <div class="form-input-header">
                                        <kendo-label text="Learning Rate" [ngClass]="{'label-invalid': !styleRowsValid('learningRate')}"></kendo-label>
                                        <span title="Learning rate values are required and must be at least 0" class="validation-tooltip" *ngIf="!styleRowsValid('learningRate')">?</span>
                                    </div>
                                </th>
                                <th class="style-elr-col" title="End Learning Rate">
                                    <div class="form-input-header">
                                        <kendo-label text="End Learning Rate" [ngClass]="{'label-invalid': !styleRowsValid('endLearningRate')}"></kendo-label>
                                        <span title="End learning rate values are required and must be at least 0" class="validation-tooltip" *ngIf="!styleRowsValid('endLearningRate')">?</span>
                                    </div>
                                </th>
                                <th class="style-acp-col" title="Auto Content Palette">
                                    <div class="form-input-header">
                                        <kendo-label text="Auto Content Palette"></kendo-label>
                                    </div>
                                </th>
                                <th class="style-pi-col" title="Print Iters">
                                    <div class="form-input-header">
                                        <kendo-label text="Print Iters" [ngClass]="{'label-invalid': !styleRowsValid('printIters')}"></kendo-label>
                                        <span title="Print Iter values are required and must be within the range of 0 and 100000" class="validation-tooltip" *ngIf="!styleRowsValid('printIters')">?</span>
                                    </div>
                                </th>
                                <th class="style-mm-col" title="Make Mirror">
                                    <div class="form-input-header">
                                        <kendo-label text="Make Mirror"></kendo-label>
                                    </div>
                                </th>
                                <th class="style-remove-col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="styles" *ngFor='let file of styles.controls; let i = index'>
                                <tr class="style-row" [formGroupName]="i">
                                    <td class="style-name-cell">
                                        <span title="{{file.value.fileName}}">{{file.value.fileName}}</span>
                                    </td>
                                    <td>
                                        <input kendoTextBox formControlName="weight" />
                                    </td>
                                    <td>
                                        <input kendoTextBox formControlName="learningRate" step="0.000001" />
                                    </td>
                                    <td>
                                        <input kendoTextBox formControlName="endLearningRate" step="0.000001" />
                                    </td>
                                    <td>
                                        <kendo-switch formControlName="autoContentPalette"></kendo-switch>
                                    </td>
                                    <td>
                                        <input kendoTextBox type="number" step="1" formControlName="printIters" />
                                    </td>
                                    <td>
                                        <div class="make-mirror-wrapper">
                                            <kendo-slider #makeMirrorSlider formControlName="makeMirror" [min]="0" [max]="4"></kendo-slider>
                                            <span class="slider-label">{{makeMirrorSlider.value}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="remove-file-button">
                                            <span class="k-icon k-i-x" (click)="removeStyle(i)"></span>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-single-column">
                <div class="form-container button-toolbar">
                    <div class="button-toolbar-left">
                        <button kendoButton class="template-panel-load-button" (click)="browseTemplates($event)">Load Template</button>
                        <input id="templateInput" class="template-panel-load-input" type="file" (change)="loadTemplate($event.target.files)">
                        <button kendoButton (click)="saveTemplate($event)">Save Template</button>
                    </div>
                    <div class="button-toolbar-right">
                        <button kendoButton [primary]="true" [disabled]="!startMultiScaleFormGroup.valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>