header {
    background-color: rgb(170, 170, 170);
}

.app-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    start-multi-scale-form {
        height: 100%;
    }
}

footer {
    background-color: rgb(170, 170, 170);;
}