/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;

    body {
        margin: 0;
        font-family: Calibri;
        height: 100%;
        background-color: white;

        app-root {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}

h1 {
    margin: 0;
}

.k-upload-files {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}